body{
    height: 100vh;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.q1{
    width: 200px;
    height: 200px;
    background-color: black;
    margin: 10px;
    border-radius: 50%;
    transition: all 0.4s;
    animation: mover 1s linear infinite;
    position: relative;
}


@keyframes mover {
    0%{
        top: -200px;
        left: -200px;
    }
    25%{
        top: 200px;
    }
    50%{
        top: -200px;
        left: 200px;
    }
    75%{
        top: 200px;
        left: 200px;
    }
    100%{
        top: -200px;
        left: -200px;
    }
}