body {
    height: 100vh;
    background-image: black;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.item{
    width: 200px;
    height: 200px;
    background-color: aqua;
    position: relative;
    animation:rodar 3s  linear infinite ;
    transition: all 5ms;
    

}

@keyframes rodar {
    0%{
        transform: rotate(360deg);
    }
    50%{
        width: 400px;
        height: 400px;
    }
    100%{
        width: 200px;
        height: 200px;

    }
}